legacy-peer-deps=true
strict-peer-dependencies=false
auto-install-peers=true
node-version=18.18.0
engine-strict=true
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
network-timeout=100000
registry=https://registry.npmjs.org/
prefer-offline=true
cache=.npm-cache
