legacy-peer-deps=true
strict-peer-dependencies=false
auto-install-peers=true
node-version=18.18.0
engine-strict=true
network-timeout=100000
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
cache=.npm-cache
